Repository contentful/widget-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/frontend, @contentful/extensibility-devs, @contentful/team-dev-workflows, @contentful/team-ahoy, @contentful/team-hejo, @contentful/team-moi, @contentful/team-shelley, @contentful/team-sparks, @contentful/team-homer, @contentful/team-dante, @team-dev-velocity

fix: adds the seperator to the apps dropdown again (#8220)
  src/javascripts/navigation/NavBar/NavigationDropdown.js
Owners: none

fix: provide cma client to roles repo (#8222)
  src/javascripts/features/space-teams/AddTeams/AddTeamsPage.tsx
Owners: @contentful/team-hejo

fix: [NONE] replace question mark icons with info icon (#8218)
  src/javascripts/app/SpaceWizards/Enterprise/Plan.js
  src/javascripts/app/SpaceWizards/shared/SpacePlanItem.js
  src/javascripts/features/organization-subscription/components/SpaceSectionHeader.tsx
  src/javascripts/features/organization-subscription/space-usage-summary/SpacePlanRow.js
  src/javascripts/features/organization-subscription/utils/spaceUtils.js
  src/javascripts/features/space-plan-assignment/components/SpacePlanCard.js
  src/javascripts/features/space-purchase/steps/SpacePlanSelectionStep/SpacePlanSelectionStep.js
Owners: @contentful/team-moi, @contentful/team-hejo, @contentful/team-ahoy

feat: [GROWTH-50] renaming spaces on modal (#8212)
  src/javascripts/components/shared/auto_create_new_space/CreateModernOnboarding.js
  src/javascripts/components/shared/auto_create_new_space/OnboardingModal.js
  src/javascripts/components/shared/stack-onboarding/screens/ChoiceScreen.js
  src/javascripts/features/onboarding/components/FlexibleOnboardingDialog.tsx
Owners: none

[AHOY-907] refactor: convert space plans table to TS (#8214)
  src/javascripts/features/organization-subscription/components/SpacePlans.spec.js
  src/javascripts/features/organization-subscription/services/SpacesUsageService.ts
  src/javascripts/features/organization-subscription/space-usage-summary/SortableHeaderCell.js
  src/javascripts/features/organization-subscription/space-usage-summary/SortableHeaderCell.tsx
  src/javascripts/features/organization-subscription/space-usage-summary/SpacePlansTable.spec.js
  src/javascripts/features/organization-subscription/space-usage-summary/SpacePlansTable.tsx
  src/javascripts/features/organization-subscription/types.ts
Owners: @contentful/team-moi

fix: entry link for task on master env (#8226)
  src/javascripts/features/tasks/TasksPage.js
  src/javascripts/features/tasks/router.tsx
Owners: @contentful/team-homer

.github/CODEOWNERS:

# By default, everything is owned by the frontend chapter
docs/ @contentful/frontend


# Team Extensibility
src/javascripts/features/page-widgets/           @contentful/extensibility-devs
src/javascripts/features/apps/                  @contentful/extensibility-devs
src/javascripts/features/apps-core/             @contentful/extensibility-devs
src/javascripts/features/extensions-management/ @contentful/extensibility-devs
src/javascripts/features/webhooks/              @contentful/extensibility-devs

# Team Dev Workflows
src/javascripts/features/content-tags/            @contentful/team-dev-workflows
src/javascripts/features/environments-settings/   @contentful/team-dev-workflows

# Team Ahoy
src/javascripts/features/organization-subscription/  @contentful/team-ahoy
src/javascripts/features/organization-billing/       @contentful/team-ahoy
src/javascripts/features/space-purchase/             @contentful/team-ahoy
src/javascripts/features/user-profile/               @contentful/team-ahoy

# Team Hejo
src/javascripts/features/settings-space-users/          @contentful/team-hejo
src/javascripts/features/space-teams/                   @contentful/team-hejo
src/javascripts/features/space-memberships/             @contentful/team-hejo
src/javascripts/features/space-plan-assignment/         @contentful/team-hejo
src/javascripts/features/space-management/              @contentful/team-hejo
src/javascripts/features/space-creation/                @contentful/team-hejo
src/javascripts/features/teams/                         @contentful/team-hejo
src/javascripts/features/high-value-modal/              @contentful/team-hejo
src/javascripts/features/user-invitations/              @contentful/team-hejo
src/javascripts/features/roles-permissions-management/  @contentful/team-hejo
src/javascripts/features/sso/                            @contentful/team-hejo
src/javascripts/features/news-slider/                    @contentful/team-hejo

# Team Moi
src/javascripts/features/organization-subscription/  @contentful/team-moi
src/javascripts/features/organization-usage/         @contentful/team-moi
src/javascripts/features/trials/                     @contentful/team-moi
src/javascripts/features/space-usage/                @contentful/team-moi
src/javascripts/features/space-home/                 @contentful/team-moi

# Team Shelley
src/javascripts/features/assembly-types/      @contentful/team-shelley

# Team Sparks
src/javascripts/features/scheduled-actions/   @contentful/team-sparks
src/javascripts/features/content-preview/     @contentful/team-sparks
src/javascripts/features/releases/            @contentful/team-sparks

# Team Homer
src/javascripts/features/tasks/             @contentful/team-homer
src/javascripts/features/entity-search/     @contentful/team-homer
src/javascripts/features/entity-views/      @contentful/team-homer

# Team Dante
src/javascripts/features/locales-management/      @contentful/team-dante
src/javascripts/features/content-model-editor/    @contentful/team-dante

# Team Dev Velocity
src/javascripts/features/embargoed-assets/  @team-dev-velocity
