Repository contentful/widget-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/frontend, @contentful/extensibility-devs, @contentful/team-dev-workflows, @contentful/team-hejo, @contentful/team-dante, @team-dev-velocity

[NONE] chore: run smoke tests twice a day (#8055)
  .github/workflows/smoke-tests.yml
  docs/guides/smoke-tests.md
Owners: @contentful/frontend

chore: remove unneeded !
  src/javascripts/app/widgets/ExtensionSDKs/utils.ts
Owners: none

refactor: [GROWTH-2] Implement launchdarkly experience package (#8054)
  package-lock.json
  package.json
  src/javascripts/LaunchDarkly.spec.ts
  src/javascripts/LaunchDarkly.ts
Owners: none

chore: nicer code with ??
  src/javascripts/app/widgets/ExtensionSDKs/utils.spec.ts
  src/javascripts/app/widgets/ExtensionSDKs/utils.ts
Owners: none

fix: [NONE] high value label modal size (#8057)
  src/javascripts/features/high-value-modal/components/FeatureModal.tsx
Owners: none

chore(launch-darkly): drop references tree feature flag (#8059)
  src/javascripts/LaunchDarkly.ts
  test/cypress/util/featureFlag.ts
Owners: none

fix: support multiple editors while reading target state
  src/javascripts/features/apps/AppState.ts
Owners: @contentful/extensibility-devs

chore: cleanup
  src/javascripts/features/apps/AppState.ts
Owners: @contentful/extensibility-devs

migrate org spaces [REACT-472] (#8060)
  src/javascripts/app/OrganizationSettings/OrganizationSettingsGatekeeperStates.js
  src/javascripts/app/OrganizationSettings/OrganizationSettingsState.js
  src/javascripts/core/react-routing/routes/organizationSettings.ts
  src/javascripts/features/organization-spaces/OrganizationSpacesV1Page.spec.tsx
  src/javascripts/features/organization-spaces/OrganizationSpacesV1Page.tsx
  src/javascripts/features/organization-spaces/OrganizationSpacesV1Route.tsx
  src/javascripts/features/organization-spaces/index.ts
  src/javascripts/features/organization-subscription/index.js
  src/javascripts/features/organization-subscription/index.ts
  src/javascripts/features/space-home/ExpiredTrialSpaceHome.tsx
  src/javascripts/features/space-settings/services/DeleteSpace.tsx
  src/javascripts/navigation/OrganizationNavBar.js
Owners: none

chore: revert changes in SubscriptionPageRouter (#8064)
  src/javascripts/features/organization-subscription/routes/SubscriptionPageRouter.js
Owners: none

fix: enhance utm params for changelog link, refactor all links with utm params to use the builder
  src/javascripts/analytics/utmLinks.js
  src/javascripts/app/ContentModel/Editor/WidgetsConfiguration/AvailableWidgets.tsx
  src/javascripts/features/environments-settings/components/EnvironmentsSidebar.js
  src/javascripts/navigation/NavBar/KnowledgeMenu/KnowledgeMenu.js
  src/javascripts/navigation/Sidepanel/SidepanelContainer.tsx
Owners: @contentful/team-dev-workflows

test: correct shape for entry editor in target state
  src/javascripts/features/apps/AppState.spec.ts
Owners: @contentful/extensibility-devs

chore: lint
  src/javascripts/features/apps/AppState.ts
Owners: @contentful/extensibility-devs

Revert "refactor: [GROWTH-2] Implement launchdarkly experience package (#8054)" (#8071)
  package-lock.json
  package.json
  src/javascripts/LaunchDarkly.spec.ts
  src/javascripts/LaunchDarkly.ts
Owners: none

fix(widgets): use the envAlias if present (#8058)
  src/javascripts/core/services/APIClient/CurrentSpaceAPIClientContext.tsx
Owners: none

refactor: migrate organization user provisioning to react router [REACT-477] (#8062)
  src/javascripts/app/OrganizationSettings/UserProvisioning/UserProvisioning.spec.js
  src/javascripts/app/OrganizationSettings/UserProvisioning/UserProvisioning.tsx
  src/javascripts/app/OrganizationSettings/UserProvisioning/UserProvisioningConfiguration.tsx
  src/javascripts/app/OrganizationSettings/UserProvisioning/UserProvisioningState.js
  src/javascripts/app/OrganizationSettings/UserProvisioning/UserProvisioningState.tsx
  src/javascripts/app/OrganizationSettings/UserProvisioning/UserProvisioningUpsellState.tsx
  src/javascripts/app/common/StateLink.tsx
  src/javascripts/core/react-routing/routes/organizationSettings.ts
  src/javascripts/navigation/OrganizationNavBar.js
Owners: none

refactor: Migrate all Gatekeeper Org views to React Router [REACT-474] (#8050)
  src/javascripts/access_control/Enforcements.js
  src/javascripts/account/UrlSyncHelper.js
  src/javascripts/account/UrlSyncHelper.spec.js
  src/javascripts/app/OrganizationSettings/OrganizationSettingsGatekeeperStates.js
  src/javascripts/app/OrganizationSettings/OrganizationSettingsState.js
  src/javascripts/app/SpaceWizards/shared/utils.js
  src/javascripts/app/SpaceWizards/shared/utils.spec.js
  src/javascripts/core/react-routing/routes.ts
  src/javascripts/core/react-routing/routes/organizationSettings.ts
  src/javascripts/features/organization-subscription/components/SubscriptionPage.spec.js
  src/javascripts/features/organization-subscription/components/UsersForPlan.js
  src/javascripts/features/organization-subscription/utils/links.js
  src/javascripts/features/organization-usage/OrganizationUsageRoute.tsx
  src/javascripts/navigation/OrganizationNavBar.js
  src/javascripts/navigation/Sidepanel/Sidepanel.js
  src/javascripts/states/account.js
  src/javascripts/states/account.tsx
  src/javascripts/states/deeplink/resolver.spec.ts
  src/javascripts/states/deeplink/resolver.ts
Owners: none

fix: initialize plain cma cliet with alias id if it's available (#8075)
  src/javascripts/app/common/WrappedEntityList/EntityService.js
  src/javascripts/core/services/usePlainCMAClient/usePlainCMAClient.ts
  src/javascripts/features/entity-views/assets/services/BulkAssetsCreator.js
Owners: none

.github/CODEOWNERS:

# By default, everything is owned by the frontend chapter
docs/ @contentful/frontend


# Team Extensibility

src/javascripts/features/apps/                  @contentful/extensibility-devs
src/javascripts/features/apps-core/             @contentful/extensibility-devs
src/javascripts/features/extensions-management/ @contentful/extensibility-devs
src/javascripts/features/webhooks/              @contentful/extensibility-devs

# Team Dev Workflows
src/javascripts/features/content-tags/            @contentful/team-dev-workflows
src/javascripts/features/environments-settings/   @contentful/team-dev-workflows

# Team Hejo
src/javascripts/features/settings-space-users/          @contentful/team-hejo
src/javascripts/features/space-teams/                   @contentful/team-hejo
src/javascripts/features/space-memberships/             @contentful/team-hejo
src/javascripts/features/roles-permissions-management/  @contentful/team-hejo

# Team Dante
src/javascripts/features/locales-management/ @contentful/team-dante

# Team Dev Velocity
src/javascripts/features/embargoed-assets/  @team-dev-velocity
