Repository contentful/widget-sdk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @contentful/frontend, @contentful/team-extensibility, @contentful/team-dev-workflows, @contentful/team-ahoy, @contentful/team-growth, @contentful/team-hejo, @contentful/team-moi, @contentful/team-shelley, @contentful/team-sparks, @contentful/team-homer, @contentful/team-dante, @team-dev-velocity, @team-react

check for empty instance in editorinterface
  src/javascripts/features/content-model-editor/field-dialog/components/InitialValueField.tsx
Owners: @contentful/team-dante

fix: pass only BasePlan as an argument to isEnterprisePlan (#8337)
  src/javascripts/features/organization-subscription/routes/SubscriptionPageRoute.js
Owners: @contentful/team-moi

format
  src/javascripts/LaunchDarkly.ts
Owners: none

fix: hide asset button from the markdown editor
  src/javascripts/features/content-model-editor/field-dialog/components/InitialValueTabComponent.tsx
Owners: @contentful/team-dante

fix: input focus loss and prevention to enter a number
  src/javascripts/features/content-model-editor/field-dialog/components/InitialValueField.tsx
Owners: @contentful/team-dante

fix: set managable number of locales to 4
  src/javascripts/features/content-model-editor/field-dialog/components/InitialValueTabComponent.tsx
Owners: @contentful/team-dante

Add CIA to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Owners: none

fix: [HEJO-2597] v1 migration cleanup isLegacyOrganization vol1 (#8335)
  src/javascripts/access_control/Enforcements.js
  src/javascripts/app/OrganizationSettings/Users/UsersList/UserLimitBanner.js
  src/javascripts/app/OrganizationSettings/Users/UsersList/UserLimitBanner.spec.js
  src/javascripts/app/OrganizationSettings/Users/UsersList/UsersList.spec.js
  src/javascripts/app/UserSettings/goToOrganizationSettings.ts
  src/javascripts/features/content-model-editor/list/ContentTypeList/ContentTypeListPage.spec.js
  src/javascripts/features/content-model-editor/list/ContentTypeList/ContentTypeListPage.tsx
  src/javascripts/features/entity-views/core/EntitiesView.js
  src/javascripts/features/entity-views/core/EntitiesView.spec.js
  src/javascripts/features/entity-views/core/UpgradeBanner.js
  src/javascripts/features/entity-views/core/UpgradeBanner.spec.js
  src/javascripts/features/environments-settings/components/EnvironmentsSidebar.js
  src/javascripts/features/roles-permissions-management/roles_list/CustomRolesPlanNote.js
  src/javascripts/features/roles-permissions-management/roles_list/ReachedRolesLimitNote.js
  src/javascripts/features/roles-permissions-management/roles_list/RolesList.js
  src/javascripts/features/roles-permissions-management/routes/RoleEditorRoute.tsx
  src/javascripts/features/roles-permissions-management/routes/RolesListRoute.js
Owners: @contentful/team-dante, @contentful/team-homer, @contentful/team-dev-workflows, @contentful/team-hejo

feat: add basic error note
  src/javascripts/core/typings.ts
  src/javascripts/features/content-model-editor/field-dialog/components/InitialValueField.tsx
  src/javascripts/features/content-model-editor/field-dialog/components/InitialValueTabComponent.tsx
  src/javascripts/features/content-model-editor/field-dialog/components/useInitialValueDocument.ts
  src/javascripts/features/content-model-editor/field-dialog/components/useInitialValueDocumentErrors.ts
  src/javascripts/features/content-model-editor/types.ts
Owners: @contentful/team-dante

feat: [GROWTH-81] testing and improving recoverable onboarding flow (#8333)
  src/javascripts/components/shared/stack-onboarding/screens/GetStartedScreen.js
  src/javascripts/features/onboarding/components/DeveloperChoiceDialog.tsx
  src/javascripts/features/onboarding/components/FlexibleOnboardingDialog.spec.tsx
  src/javascripts/features/onboarding/components/FlexibleOnboardingDialog.tsx
  src/javascripts/features/onboarding/components/ReplaceSpaceDialog.tsx
  src/javascripts/features/onboarding/components/SampleSpaceDialog.spec.tsx
  src/javascripts/features/onboarding/components/SampleSpaceDialog.tsx
  src/javascripts/features/onboarding/index.js
  src/javascripts/features/onboarding/utils/util.js
  src/javascripts/features/space-home/AdminSpaceHome.js
  src/javascripts/features/space-home/ModernStackAdminSpaceHome.js
Owners: @contentful/team-growth, @contentful/team-moi

chore: bump field editors (#8342)
  package-lock.json
  package.json
Owners: none

fix: fallback to lastOrg when reading orgId from url [] (#8344)
  src/javascripts/core/react-routing/routes/organizationSettings.ts
  src/javascripts/navigation/NavState.js
Owners: none

fix: adjust selector for space rows (#8345)
  package.json
  test/smoke/pages/OrganizationSettingsPage.ts
Owners: none

refactor(assets-list): refactor Assets list to use react router for navigation (#8317)
  src/javascripts/access_control/SectionAccess.ts
  src/javascripts/core/react-routing/CustomRouter.tsx
  src/javascripts/core/react-routing/routes.ts
  src/javascripts/core/react-routing/routes/assets.ts
  src/javascripts/core/react-routing/routes/index.ts
  src/javascripts/features/entity-views/assets/routes/AssetListRouter.tsx
  src/javascripts/features/entity-views/assets/routes/AssetViewState.js
  src/javascripts/navigation/SpaceNavigationBarItems.ts
  src/javascripts/states/deeplink/resolver.spec.ts
  src/javascripts/states/deeplink/resolver.ts
Owners: @contentful/team-homer

fix: bring back apply all
  src/javascripts/features/content-model-editor/field-dialog/components/InitialValueTabComponent.tsx
Owners: @contentful/team-dante

test: add tests for createCmaDocumentWithApiNames (#8338)
  src/javascripts/app/widgets/ExtensionSDKs/createCmaDocumentWithApiNames.spec.ts
  src/javascripts/app/widgets/ExtensionSDKs/createCmaDocumentWithApiNames.ts
Owners: none

[FE-88] Remove legacy css from apps management (#8346)
  src/javascripts/features/apps/management/AppDetails/AppDetails.tsx
  src/javascripts/features/apps/management/NewApp.tsx
  src/javascripts/features/apps/management/styles.ts
  src/javascripts/features/content-model-editor/editor/ContentTypePageActions.js
  src/javascripts/features/organization-subscription/space-usage-summary/SpacePlanRow.spec.js
  src/stylesheets/legacy-styles.css
Owners: @contentful/team-extensibility, @contentful/team-dante, @contentful/team-moi

feat: [GROWTH-62] resolve some issues found during QA (#8348)
  src/javascripts/components/shared/auto_create_new_space/CreateModernOnboarding.js
  src/javascripts/components/shared/stack-onboarding/screens/GetStartedScreen.js
  src/javascripts/features/onboarding/components/FlexibleOnboardingDialog.tsx
  src/javascripts/features/onboarding/components/ReplaceSpaceDialog.tsx
  src/javascripts/features/onboarding/utils/util.js
  src/javascripts/features/space-home/AdminSpaceHome.js
Owners: @contentful/team-growth, @contentful/team-moi

chore(references): remove BulkAction feature flag
  src/javascripts/app/entry_editor/EntryReferences/BulkAction/BulkActionFeatureFlag.ts
  src/javascripts/app/entry_editor/EntryReferences/ReferencesSideBar.js
  src/javascripts/app/entry_editor/EntryReferences/ReferencesSideBar.spec.js
  src/javascripts/app/entry_editor/EntryReferences/index.spec.js
  src/javascripts/app/entry_editor/EntryReferences/referencesService.js
Owners: none

feat: track non-generic Snowplow events 1:1 to Segment
  src/javascripts/analytics/Analytics.spec.js
  src/javascripts/analytics/Analytics.ts
  src/javascripts/analytics/AnalyticsConsole/AnalyticsConsole.tsx
  src/javascripts/analytics/AnalyticsConsole/types.ts
  src/javascripts/analytics/SchemasSegment.ts
  src/javascripts/analytics/SchemasSnowplow.ts
  src/javascripts/analytics/analyticsConsoleController.js
  src/javascripts/analytics/segment.spec.ts
  src/javascripts/analytics/segment.ts
  src/javascripts/analytics/snowplow.ts
  src/javascripts/analytics/transform.spec.js
  src/javascripts/analytics/transform.ts
  src/javascripts/analytics/types.ts
Owners: none

chore(bulkactions): remove feature flag
  src/javascripts/LaunchDarkly.ts
  test/cypress/integration/contract/entries/references.spec.ts
  test/cypress/util/featureFlag.ts
Owners: none

fix: proper `space_purchase:` event registration
  src/javascripts/analytics/SchemasSnowplow.ts
  src/javascripts/analytics/segment.ts
  src/javascripts/analytics/transform.ts
  src/javascripts/analytics/transformers/SpacePurchase.js
Owners: none

feat: use correct schema for `release:dialog_box...` events
  src/javascripts/analytics/transform.ts
Owners: none

feat: `environment_key` for most Segment events
  src/javascripts/analytics/Analytics.spec.js
  src/javascripts/analytics/Analytics.ts
  src/javascripts/navigation/stateChangeHandlers.js
  src/javascripts/states/Spaces.js
  src/javascripts/states/organization.tsx
Owners: none

refactor: remove `app_open` event contexts
  src/javascripts/analytics/SchemasSnowplow.ts
  src/javascripts/analytics/transformers/AppOpen.js
  src/javascripts/analytics/transformers/AppOpen.spec.js
Owners: none

refactor: remove `entry:create` event contexts
  src/javascripts/analytics/transformers/EntryActionV2.js
  src/javascripts/analytics/transformers/EntryActionV2.spec.js
Owners: none

refactor: remove `entry` event context
  src/javascripts/analytics/SchemasSnowplow.ts
  src/javascripts/analytics/transform.ts
  src/javascripts/analytics/transformers/EntityAction.js
  src/javascripts/analytics/transformers/EntityAction.spec.js
  src/javascripts/analytics/transformers/EntryActionV2.js
  src/javascripts/analytics/transformers/EntryActionV2.spec.js
Owners: none

chore: remove broken/unused EntityAction events
  src/javascripts/analytics/SchemasSnowplow.spec.js
  src/javascripts/analytics/SchemasSnowplow.ts
  src/javascripts/analytics/transform.ts
  src/javascripts/analytics/transformers/EntityAction.js
Owners: none

fix(references): remove unused tests
  src/javascripts/app/entry_editor/EntryReferences/ReferencesSideBar.js
  src/javascripts/app/entry_editor/EntryReferences/ReferencesSideBar.spec.js
Owners: none

chore(references): add comment
  src/javascripts/app/entry_editor/EntryReferences/ReferencesSideBar.js
Owners: none

refactor: [] use old implementation of create public content type (#8336)
  src/javascripts/app/widgets/ExtensionSDKs/createPublicContentType.ts
  src/javascripts/features/apps/AppPage.tsx
  src/javascripts/features/page-widgets/PageWidgetRenderer.tsx
  src/javascripts/widgets/PublicContentType.spec.ts
  src/javascripts/widgets/PublicContentType.ts
Owners: @contentful/team-extensibility

chore(references): remove validation function
  src/javascripts/app/entry_editor/EntryReferences/ReferencesSideBar.js
Owners: none

fix: ignore missing env for a flag, fix Sentry USER-INTERFACE-9WR (#8351)
  src/javascripts/data/DocumentPool/DocumentPool.js
Owners: none

feat(a11y): use Textlink on sidebar
  src/javascripts/navigation/Sidepanel/Sidepanel.tsx
Owners: none

chore(references): fix tests
  src/javascripts/app/entry_editor/EntryReferences/ReferencesSideBar.js
  test/cypress/integration/contract/entries/references.spec.ts
  test/cypress/interactions/entries.ts
Owners: none

chore(a11y): use href instead of onClick for links
  src/javascripts/navigation/Sidepanel/Sidepanel.tsx
Owners: none

refactor: drop references to 'pricing_version_1' (#8349)
  docs/guides/ab-testing.md
  src/javascripts/LaunchDarkly.ts
  src/javascripts/features/api-keys-management/routes/ApiKeyListRoute.spec.js
  src/javascripts/features/home/HomeState.js
  src/javascripts/features/home/HomeState.spec.js
  src/javascripts/features/space-home/AdminSpaceHome.js
  src/javascripts/features/space-home/ModernStackAdminSpaceHome.js
  src/javascripts/features/space-home/TEAAdminSpaceHome.js
  src/javascripts/features/space-home/UpgradePricing.js
  src/javascripts/services/CreateSpace.spec.js
Owners: @contentful/frontend, @contentful/team-dev-workflows, @contentful/team-moi

chore(references): fix tests expectation
  src/javascripts/app/entry_editor/EntryReferences/ReferencesSideBar.js
Owners: none

.github/CODEOWNERS:

# By default, everything is owned by the frontend chapter
docs/ @contentful/frontend

# Team Extensibility
src/javascripts/features/page-widgets/           @contentful/team-extensibility
src/javascripts/features/apps/                  @contentful/team-extensibility
src/javascripts/features/apps-core/             @contentful/team-extensibility
src/javascripts/features/extensions-management/ @contentful/team-extensibility
src/javascripts/features/webhooks/              @contentful/team-extensibility

# Team Dev Workflows
src/javascripts/features/environments-settings/   @contentful/team-dev-workflows
src/javascripts/features/api-keys-management/     @contentful/team-dev-workflows

# Team Ahoy
src/javascripts/features/organization-subscription/  @contentful/team-ahoy
src/javascripts/features/organization-billing/       @contentful/team-ahoy
src/javascripts/features/space-purchase/             @contentful/team-ahoy
src/javascripts/features/user-profile/               @contentful/team-ahoy
src/javascripts/features/pricing-entities/           @contentful/team-ahoy

# Team Growth
src/javascripts/features/onboarding/                 @contentful/team-growth

# Team Hejo
src/javascripts/features/settings-space-users/          @contentful/team-hejo
src/javascripts/features/space-teams/                   @contentful/team-hejo
src/javascripts/features/space-memberships/             @contentful/team-hejo
src/javascripts/features/space-plan-assignment/         @contentful/team-hejo
src/javascripts/features/space-management/              @contentful/team-hejo
src/javascripts/features/space-creation/                @contentful/team-hejo
src/javascripts/features/teams/                         @contentful/team-hejo
src/javascripts/features/high-value-modal/              @contentful/team-hejo
src/javascripts/features/user-invitations/              @contentful/team-hejo
src/javascripts/features/roles-permissions-management/  @contentful/team-hejo
src/javascripts/features/sso/                            @contentful/team-hejo
src/javascripts/features/news-slider/                    @contentful/team-hejo

# Team Moi
src/javascripts/features/organization-subscription/  @contentful/team-moi
src/javascripts/features/organization-usage/         @contentful/team-moi
src/javascripts/features/trials/                     @contentful/team-moi
src/javascripts/features/space-usage/                @contentful/team-moi
src/javascripts/features/space-home/                 @contentful/team-moi
src/javascripts/features/home/                       @contentful/team-moi
src/javascripts/features/space-settings/             @contentful/team-moi
src/javascripts/features/organization-spaces/        @contentful/team-moi

# Shared by CO Group
src/javascripts/features/contentful-apps/     @contentful/team-shelley @contentful/team-sparks

# Team Shelley
src/javascripts/features/assembly-types/      @contentful/team-shelley

# Team Sparks
src/javascripts/features/scheduled-actions/   @contentful/team-sparks
src/javascripts/features/content-preview/     @contentful/team-sparks
src/javascripts/features/releases/            @contentful/team-sparks

# Team Homer
src/javascripts/features/tasks/             @contentful/team-homer
src/javascripts/features/entity-search/     @contentful/team-homer
src/javascripts/features/entity-views/      @contentful/team-homer

# Team Dante
src/javascripts/features/locales-management/      @contentful/team-dante
src/javascripts/features/content-model-editor/    @contentful/team-dante
# to facilitate knowledge exchange, we will keep both teams for some time
src/javascripts/features/content-tags/            @contentful/team-dante @contentful/team-dev-workflows

# Team Dev Velocity
src/javascripts/features/embargoed-assets/  @team-dev-velocity

# Team React Migration
src/javascripts/features/quick-navigation/      @team-react
src/javascripts/features/loading-state/         @team-react
src/javascripts/features/space-hibernation/     @team-react
